<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header" style="border-right: 1px solid #e7e7e7;">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="?"><i class="las la-video" style="font-size: 2rem;vertical-align: bottom;"></i> WEBCam Recorder</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			[#if FFMPEG_STATUS==1#]
				<li style="border-right: 1px solid #e7e7e7;"><a href="#" target="_blank" style="color: green;"><i class="las la-check-circle" style="font-size: 1.9rem;vertical-align: top;"></i> FFMPEG</a></li>
			[#else#]
				<li style="border-right: 1px solid #e7e7e7;"><a href="#" target="_blank" style="color: red;"><i class="las la-times-circle" style="font-size: 1.9rem;vertical-align: top;"></i> Не установлен FFMPEG</a></li>
			[#endif#]
			<li style="border-right: 1px solid #e7e7e7;"><a href="javascript://" onclick="$('#infoReloadModule').modal('show');" style="color: red;"><i class="las la-bug" style="font-size: 1.9rem;vertical-align: top;"></i> Ошибка после обновления?</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li style="border-right: 1px solid #e7e7e7;"><a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6964#p114913" target="_blank" style="color: #ff4f67;"><img src="/templates/webcam_recorder/img/like.png" style="width: 19px;vertical-align: sub;"> Нравится? Ставь лайк!</a></li>
			<li><a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6964#p114913" target="_blank"><i class="las la-comment-dots" style="font-size: 1.9rem;vertical-align: top;"></i> Обсуждение на форуме</a></li>
		</ul>
	  </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
<div class="row">
	<div class="col-md-3 col-md-offset-9 text-right">
		<form action="?" method="post" enctype="multipart/form-data">
			<button type="button" class="btn btn-info" onclick="window.open('/module/webcam_recorder.html', '_blank')"><i class="las la-backward"></i> Архив</button>
			<button type="submit" class="btn btn-success"><i class="las la-plus"></i> Новая камера</button>
			<input type="hidden" name="view_mode" value="add_camera">
		</form>
	</div>
</div>

[#if VIEW_MODE=='add_camera'#]
	[#inc add_camera.html#]
[#else#]
	[#if MODE=='edit_camera'#]
		[#inc edit_camera.html#]
	[#else#]
		[#if EMPTY_CAMS==1#]
			<table class="table">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Данные</th>
						<th scope="col">Настройки</th>
						<th scope="col">Сводка</th>
						<th scope="col">Реагировать на</th>
						<th scope="col">Настройки</th>
					</tr>
				</thead>
				<tbody>
				[#begin PROPERTIES#]
					<tr>
						<td><a href="javascript://" onClick="$('#photoModalLink').attr('src', '[#PATH_PREVIEW#]/[#LAST_VIDEO#]/photo.jpg');$('#prewPhoto').modal('show');"><img src="[#PATH_PREVIEW#]/[#LAST_VIDEO#]/photo.jpg" style="width: 50px;border-radius: 10px;"></a></td>
						<td>
							[#CAM_NAME#] (ID: [#ID#])
							<div style="font-size: 1rem;">[#DEVICE_ID#]</div>
						</td>
						<td>
							<div style="margin: 0px;font-size: 1rem;">[#PATH#]</div>
							<div style="margin: 0px;font-size: 1rem;">[#CODEC#], [#RESOLUTION#], [#BITRATE#] к/с, Длительность: [#SECOND#] сек.</div>
							<div style="margin: 0px;font-size: 1rem;">Тип камеры: [#if CAMTYPE!=''#][#CAMTYPE#][#else#]<span style="color: red;">? (Не указан, по умолчанию - WEBCam)</span>[#endif#]</div>
						</td>
						<td>
							<div style="margin: 0px;font-size: 1rem;">Записей: [#TOTAL_VIDEO#] шт.<br>Последняя: [#LAST_VIDEO#]<br>
							Занято: [#PATH_SIZE#] MB.
							</div>
						</td>
						<td>
							<div style="font-size: 1rem;"><i class="las la-stethoscope"></i> [#if LINKED_OBJECT1==""#]Не связана со свойством[#else#][#LINKED_OBJECT1#].[#LINKED_PROPERTY1#][#endif#]</div>
							[#if LINKED_OBJECT2!=""#]<div style="font-size: 1rem;"><i class="las la-stethoscope"></i> [#LINKED_OBJECT2#].[#LINKED_PROPERTY2#]</div>[#endif#]
						</td>
						<td>
							<form action="?" method="post" enctype="multipart/form-data" id="recordingForm_[#ID#]">
								<input type="hidden" name="mode" value="recording">
								<input type="hidden" name="view_mode" value="[#ID#]">
							</form>
							<form action="?" method="post" enctype="multipart/form-data" id="deleteForm_[#ID#]">
								<input type="hidden" name="mode" value="delete_camera">
								<input type="hidden" name="view_mode" value="[#ID#]">
							</form>
							<form action="?" method="post" enctype="multipart/form-data" id="deleteFiles_[#ID#]">
								<input type="hidden" name="mode" value="delete_files">
								<input type="hidden" name="view_mode" value="[#ID#]">
							</form>
							<form action="?" method="post" enctype="multipart/form-data" id="editcam_[#ID#]">
								<input type="hidden" name="mode" value="edit_camera">
								<input type="hidden" name="view_mode" value="[#ID#]">
							</form>
							
							<div id="noneDangerBtn_[#ID#]">
								<button type="button" title="Информация" onclick="$('#insertModalFfmpegString').text('[#FFMPEG_STRING_GENERATE#]');$('#infoModal').modal('show');" class="btn btn-info" style="margin-top: 3px;padding: 3px 6px;"><i class="las la-question-circle" style="font-size: 2.4rem;"></i></button>
								<button type="button" title="Имитировать сработку" onclick="document.getElementById('recordingForm_[#ID#]').submit();" class="btn btn-default" style="margin-top: 3px;padding: 3px 6px;"><i class="las la-bell" style="font-size: 2.4rem;"></i></button>
								<button type="button" title="Изменить настройки" onclick="document.getElementById('editcam_[#ID#]').submit();" class="btn btn-default" style="margin-top: 3px;padding: 3px 6px;"><i class="las la-edit" style="font-size: 2.4rem;"></i></button>
								
								<button type="button" title="Опасные действия" onclick="$('#noneDangerBtn_[#ID#]').toggle();$('#dangerBtn_[#ID#]').toggle();" class="btn btn-default" style="margin-top: 3px;padding: 3px 6px;"><i class="la la-ellipsis-h" style="font-size: 2.4rem;"></i></button>
							</div>
							<div  id="dangerBtn_[#ID#]" style="display:none;text-align: center;border: 1px solid red;padding: 5px;border-radius: 10px;background: #ff00001c;">
								<div style="font-weight: bold;">Внимание! Опасные действия!</div>
								<button type="button" title="Удалить файлы камеры" onclick="if(confirm('Удалить записи с камеры [#CAM_NAME#]?')) {document.getElementById('deleteFiles_[#ID#]').submit();}" class="btn btn-warning" style="margin-top: 3px;padding: 3px 6px;"><i class="las la-trash" style="font-size: 2.4rem;"></i></button>
								<button type="button" title="Удалить камеру" onclick="if(confirm('Удалить камеру [#CAM_NAME#]?')) {document.getElementById('deleteForm_[#ID#]').submit();}" class="btn btn-danger" style="margin-top: 3px;padding: 3px 6px;"><i class="las la-times-circle" style="font-size: 2.4rem;"></i></button>
								<button type="button" title="Скрыть" onclick="$('#noneDangerBtn_[#ID#]').toggle();$('#dangerBtn_[#ID#]').toggle();" class="btn btn-default" style="margin-top: 3px;padding: 3px 6px;"><i class="la la-undo-alt" style="font-size: 2.4rem;"></i></button>
							</div>
						</td>
					</tr>
				[#end PROPERTIES#]
				</tbody>
			</table>
		[#else#]
		<div class="row" style="border: 1px solid #e7e7e7;border-radius: 5px;padding-top: 10px;padding-bottom: 10px;margin-top: 15px;">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
				<div style="font-size: 15rem;"><i class="las la-video"></i></div>
				<h4 style="margin: 0px;">Привет! Давай настроим модуль!</h4>
				<p>Модуль позволяет захватывать видео с веб камер подключенных к серверу MJDM.<br>
				В качестве программы для захвата картинки используется FFMPEG.<br>
				Мы уже проверили, есть ли у тебя на сервере FFMPEG и вот, что получили:<br>
				[#if FFMPEG_STATUS==1#]
				<span style="color: green;font-weight: bold;"><i class="las la-check-circle" style="font-size: 1.9rem;vertical-align: top;"></i> FFMPEG установлен, можно пользоваться модулем!</span>
				[#else#]
				<span style="color: red;font-weight: bold;"><i class="las la-times-circle" style="font-size: 1.9rem;vertical-align: top;"></i> Неудалось обнаружить FFMPEG, установите его и попробуйте снова!</span>
				[#endif#]
				</p>
				<br>
				<form action="?" method="post" enctype="multipart/form-data">
					<button type="submit" class="btn btn-success"><i class="las la-plus"></i> Новая камера</button>
					<input type="hidden" name="view_mode" value="add_camera">
				</form>
				<br>
				<br>
			</div>
		</div>
		[#endif#]
	[#endif#]
[#endif#]
<div class="row" style="margin-top: 40px;">
	<div class="col-md-12" style="text-align: center;border-top: 1px solid #e7e7e7;padding-top: 15px;font-size: 1rem;color: gray;">
		Версия модуля: <i class="las la-code-branch" style="vertical-align: middle;"></i> v.[#VERSION_MODULE#] | Проект доступен на <a href="https://github.com/SmoKE585/majordomo_webcam_recorder" target="_blank"><i class="lab la-github"></i> GitHub</a> | Автор: Александр SmoKE xD Аболмасов
	</div>
</div>
<div id="prewPhoto" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src="" id="photoModalLink" style="width: 100%;border-radius: 5px;">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
<div id="infoModal" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
				<div class="modal-header">
				<h3 class="modal-title">Помощь</h3>
			</div>
			<div class="modal-body">
				<div style="font-size: 1.3rem;">Для интеграции в сцены предусмотрен следующий код:</div>
				<div style="margin-top: 10px;background-color: #f9f2f4;padding: 10px;border-radius: 10px;border: 1px solid #f1acac;font-size: 1.3rem;color: #c7254e;" id="codeModal">
					* Обязательно уберите пробел после #, иначе работать не будет<br><br>
					[# module name="webcam_recorder" mode="arhive" view_mode="hidecontrols,showlast"#]
				</div>
				<div style="font-size: 1.3rem;margin-top: 10px;">Этот код выведет последнее записаное видео и камшот. Если не указывать параметры view_mode="hidecontrols,showlast" то будет доступно все управление архивом. Если указать view_mode="onlylastphoto", то модуль вернет последний камшот без надписей и прочего.</div>
				<hr>
				<div style="font-size: 1.3rem;"><b>Примерная</b> строка ffmpeg, которую генерирует модуль для ручной проверки. Сформирована на основании ваших настроек:</div>
				<div style="margin-top: 10px;background-color: #f9f2f4;padding: 10px;border-radius: 10px;border: 1px solid #f1acac;font-size: 1.3rem;color: #c7254e;" id="codeModal">
					<span id="insertModalFfmpegString"></span>
				</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
<div id="infoReloadModule" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
				<div class="modal-header">
				<h3 class="modal-title">Ошибка после обновления</h3>
			</div>
			<div class="modal-body">
				<div style="font-size: 1.3rem;">
					3 марта я обновил модуль, появилась возможность записывать видео с RTSP камер. Для этого необходимо было добавить еще 1 столбец в БД. В виду того, что я не могу понять как это делать без удаления модуля, 
					для того, чтобы все заработало - нужно удалить и заного установить модуль.
					<hr>
					Хотя, мы можем попробовать сделать это всего за 1 клик. Попробуйте:
					<center>
						<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
							<input type="hidden" name="mode" value="fixdberror"> 
							<center style="margin-top: 25px;"><button type="submit" class="btn btn-success"><i class="las la-magic"></i> Вжух! Починить таблицу!</button></center>
						</form>
					</center>
				</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>