<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="?"><i class="las la-video" style="font-size: 2rem;vertical-align: bottom;"></i> WEBCam Recorder</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			[#if FFMPEG_STATUS==1#]
				<li><a href="#" target="_blank" style="color: green;"><i class="las la-check-circle" style="font-size: 1.9rem;vertical-align: top;"></i> FFMPEG</a></li>
			[#else#]
				<li><a href="#" target="_blank" style="color: red;"><i class="las la-times-circle" style="font-size: 1.9rem;vertical-align: top;"></i> FFMPEG</a></li>
			[#endif#]
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6960" target="_blank"><i class="las la-comment-dots" style="font-size: 1.9rem;vertical-align: top;"></i> Обсуждение на форуме</a></li>
			[#if SETTINGS_BLOCK==0#]
				<li><a href="?view_mode=settings"><i class="las la-cog" style="font-size: 1.9rem;vertical-align: top;"></i> Показать настройки</a></li>
			[#else#]
				<li><a href="?view_mode=settings"><i class="las la-cog" style="font-size: 1.9rem;vertical-align: top;"></i> Скрыть настройки</a></li>
			[#endif SETTINGS_BLOCK#]
		</ul>
	  </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
<div class="row">
	<div class="col-md-3 col-md-offset-9 text-right">
		<form action="?" method="post" enctype="multipart/form-data">
			<button type="submit" class="btn btn-success"><i class="las la-plus"></i> Новая камера</button>
			<input type="hidden" name="view_mode" value="add_camera">
		</form>
	</div>
</div>

[#if VIEW_MODE=='add_camera'#]
	[#inc add_camera.html#]
[#else#]
	[#if EMPTY_CAMS==1#]
		[#begin PROPERTIES#]
			<div class="row" style="border: 1px solid #e7e7e7;border-radius: 5px;padding-top: 10px;padding-bottom: 10px;margin-top: 15px;">
				<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="border-right: 1px solid #e7e7e7;">
					<h4 style="margin: 0px;"><i class="lar la-circle"></i> [#CAM_NAME#]</h4>
					<span style="padding-left: 25px;">[#DEVICE_ID#]</span>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="border-right: 1px solid #e7e7e7;">
					<div><i class="las la-stethoscope"></i> [#if LINKED_OBJECT1==""#]Не связана со свойством[#else#][#LINKED_OBJECT1#].[#LINKED_PROPERTY1#][#endif#]</div>
					<div><i class="las la-stethoscope"></i> [#if LINKED_OBJECT2==""#]Не связана со свойством[#else#][#LINKED_OBJECT2#].[#LINKED_PROPERTY2#][#endif#]</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="border-right: 1px solid #e7e7e7;">
					<div style="margin: 0px;font-size: 1rem;">[#PATH#]</div>
					<div style="margin: 0px;font-size: 1rem;">[#CODEC#], [#RESOLUTION#], [#BITRATE#] к/с, Длительность: [#SECOND#] сек.</div>
				</div>
				<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 text-right">
					<form action="?" method="post" enctype="multipart/form-data" id="recordingForm_[#ID#]">
						<input type="hidden" name="mode" value="recording">
						<input type="hidden" name="view_mode" value="[#ID#]">
					</form>
					<form action="?" method="post" enctype="multipart/form-data" id="deleteForm_[#ID#]">
						<input type="hidden" name="mode" value="delete_camera">
						<input type="hidden" name="view_mode" value="[#ID#]">
					</form>
					
					<button type="button" onclick="document.getElementById('recordingForm_[#ID#]').submit();" class="btn btn-default" style="margin-top: 3px;"><i class="las la-bell"></i> Имитировать сработку</button>
					<button type="button" onclick="if(confirm('Удалить камеру [#CAM_NAME#]?')) {document.getElementById('deleteForm_[#ID#]').submit();}" class="btn btn-danger" style="margin-top: 3px;"><i class="las la-times-circle"></i> Удалить</button>
				</div>
			</div>
		[#end PROPERTIES#]
	[#else#]
	<div class="row" style="border: 1px solid #e7e7e7;border-radius: 5px;padding-top: 10px;padding-bottom: 10px;margin-top: 15px;">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
			<div style="font-size: 15rem;"><i class="las la-video"></i></div>
			<h4 style="margin: 0px;">Привет! Давай настроим модуль!</h4>
			<p>Модуль позволяет захватывать видео с веб камер подключенных к серверу MJDM.<br>
			В качестве программы для захвата картинки используется FFMPEG.<br>
			Мы уже проверили, есть ли у тебя на сервере FFMPEG и вот, что получили:<br>
			[#if FFMPEG_STATUS==1#]
			<span style="color: green;font-weight: bold;"><i class="las la-check-circle" style="font-size: 1.9rem;vertical-align: top;"></i> FFMPEG установлен, можно пользоваться модулем!</span>
			[#else#]
			<span style="color: red;font-weight: bold;"><i class="las la-times-circle" style="font-size: 1.9rem;vertical-align: top;"></i> Неудалось обнаружить FFMPEG, установите его и попробуйте снова!</span>
			[#endif#]
			</p>
			<br>
			<form action="?" method="post" enctype="multipart/form-data">
				<button type="submit" class="btn btn-success"><i class="las la-plus"></i> Новая камера</button>
				<input type="hidden" name="view_mode" value="add_camera">
			</form>
			<br>
			<br>
		</div>
	</div>
	[#endif#]
[#endif#]
<div class="row" style="margin-top: 40px;">
	<div class="col-md-12" style="text-align: center;border-top: 1px solid #e7e7e7;padding-top: 15px;font-size: 1rem;color: gray;">
		Версия модуля: <i class="las la-code-branch" style="vertical-align: middle;"></i> v.[#VERSION_MODULE#] | Проект доступен на <a href="https://github.com/SmoKE585/majordomo_easy_fkb" target="_blank"><i class="lab la-github"></i> GitHub</a> | Автор: Александр SmoKE xD Аболмасов
	</div>
</div>